<!-- admin_dashboard.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
</head>

<body>
    <div class="admin">
        <h2>Admin Dashboard</h2>
        <table align="center">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Enrolled Internship</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.password }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="admin_btn">
            <a href="/createData"><button>create data</button></a>
            <a href="/AdminApplyform"><button>Add Intern Data</button></a> 
           
            <a href="/adminlogout"><button>Logout</button></a>
        </div>
    </div>
    <form action="/veiwIntership", method="post">
        <label for="internship">Select Internship:</label>
        <select name="domain" id="internship" required>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="C">C</option>
            <option value="C++">Cpp</option>
            <option value="blockchain">Blockchain</option>
            <option value="ai">AIandChatGpt</option>
            <option value="webd">WebD</option>
        </select><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>