<!-- admin_dashboard.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
</head>

<body>
    <div class="admin">
        <h2>Admin Dashboard</h2>
        <table align="center">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Date</th>
            </tr>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.date }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="admin_btn">
            <a href="/createData"><button>create data</button></a>
            <a href="/adminlogout"><button>Logout</button></a>
        </div>
    </div>
</body>

</html>