<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>CodeStream</title>
</head>

<body>
    <form action="/forgot" method="post">
    <div class='forgetpass'>
        <h1>Enter email</h1>
        <input type="email" name='email' placeholder='Enter Registered Email'/>
        <!-- <input type="password" name='password' value={password} placeholder='Enter new password'
            onChange={handleChangePassword} /> -->
        <!-- <div class='button' onClick={handleSubmit}>Submit</div>
        <div id="alert" class="alert">{alertMessage}</div>
        <div class="loader" id='loader'><img src="../images/loader.gif" alt="" /></div> -->
        <button type="submit">submit</button>
    </div></form>
</body>

</html>