
{% extends 'layout.html' %}
{% block body %}
<div class="container">
    <h1>Intern Details</h1>
    <div class="details">
        <p><strong>Intern ID:</strong> CDS{{ intern.user_id }}</p>
        <p><strong>Name:</strong> {{ intern.name }}</p>
        <p><strong>Email:</strong> {{ intern.email }}</p>
        <p><strong>Address:</strong> {{ intern.address }}</p>
        <p><strong>College:</strong> {{ intern.college }}</p>
        <p><strong>Date of Birth:</strong> {{ (intern.dob|string)[0:11] }}</p>
        <p><strong>Mobile Number:</strong> {{ intern.mno }}</p>
        <p><strong>Domain:</strong> {{ intern.internship }}</p>
        <p><strong>Start Date:</strong> {{ (intern.date|string)[0:11] }}</p>
        <p><strong>End Date:</strong> {{ (enddate|string)[0:11] }}</p>

    </div>
</div>
    {% endblock body  %}