<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Message Related privacy</title>
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
    
</head>

<body>
    <div class="login">
        <li>We will send your offer letter with you within 4 Hours</li>
        <li>You will receive email from : codestream63@gmail.com</li>
        <li>You can reach us through WhatsApp : +91 78419 82719</li>
        <li>Happy Learning  😀</li>
        <a href="/" ><button>click here</button></a>
    </div>
</body>

</html>