<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
    <title>CodeStream</title>
</head>

<body>
    <form action="/emailVerification" method="post" class='forgetpass' style="margin: 0; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <h1>Verify OTP</h1>
        <input id="f" type="number" name='otp' placeholder='Enter OTP'/>
        <!-- <input type="password" name='password' value={password} placeholder='Enter new password'
            onChange={handleChangePassword} /> -->
        <!-- <div class='button' onClick={handleSubmit}>Submit</div>
        <div id="alert" class="alert">{alertMessage}</div>
        <div class="loader" id='loader'><img src="../images/loader.gif" alt="" /></div> -->
        <button type="submit">submit</button>
    </form>
    <script>
        a = {{pas}}
        if(a == 5){
            let a = document.getElementById("f");
        console.log("yes");
        let errorMessage = document.createElement("p");
        errorMessage.textContent = "Invalid OTP";
        errorMessage.style.color = "red";
        a.insertAdjacentElement("afterend", errorMessage);
        }
    </script>
</body>

</html>