{% extends 'layout.html' %}
{% block body %}

<body>
    <section class="">
        <form action="/serivesApply/{{s}}" method="post">
            <h1>Service</h1>
            <label for="name">Name:</label>
            <!-- Check if the user is logged in and their name exists in the session -->
            {% if 'name' in session %}
            <input type="text" name="name" id="name" value="{{ session['name'] }}" required>
            {% else %}
            <input type="text" name="name" id="name" required>
            {% endif %}

            <label for="email">Email</label>
            <!-- Check if the user is logged in and their email exists in the session -->
            {% if 'email' in session %}
            <input type="email" name="email" id="email" value="{{ session['email'] }}" required>
            {% else %}
            <input type="email" name="email" id="email" required>
            {% endif %}

            <label for="mobile">Mobile Number</label>
            <input type="text" name="mobile" id="mobile" required>

            <label for="ptitle">Project Title</label>
            <input type="text" name="ptitle" id="mobile" required>

            <label for="message">Project Description (Please provide details about your project, including objectives,
                requirements, and any specific instructions):</label>
            <textarea rows="10" type="text" name="message" id="college" required></textarea>

            <label for="deadline">Preferred Deadline</label>
            <input type="text" name="deadline" id="mobile" required>

            <label for="budget">Project Budget</label>
            <input type="text" name="budget" id="mobile" required>

            <label for="tool">Are there any specific technologies or tools you want us to use for your project?</label>
            <textarea rows="10" type="text" name="tool" id="college" required></textarea>

            <label for="coq">Any Additional Comments or Questions?</label>
            <textarea rows="10" type="text" name="coq" id="college" required></textarea>

            <label for="who">How did you hear about our Servicwho</label>
            <select id="who" name="howYouHeard">
                <option value="" disabled selected>Select an option</option>
                <option value="internet">Internet</option>
                <option value="friend">Friend</option>
                <option value="advertisement">Advertisement</option>
            </select>
            <button type="submit">Submit</button>
            <div id="project_alert" class="project_alert">
                {{ error_message }}
            </div>
        </form>
    </section>

    <script>
        let a = "{{ pas }}";
        console.log(a)
        console.log(typeof a)
        if (a == 1) {
            errorMessage = "Thanks for Hiring us we will contact you soon";
        } 
        // else {
        //     errorMessage = "Please try again after some time";
        // }

        let alertElement = document.getElementById("project_alert");
        alertElement.textContent = errorMessage;
        alertElement.classList.add("project_visible");

        setTimeout(function () {
            alertElement.classList.remove("project_visible");
        }, 2500);
    </script>

</body>
{% endblock body %}