<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/images/logo.png" type="image/x-icon">
    <title>CodeStream</title>
</head>

<body>
    <form action="/reset_password" method="post" class="login">
            <h1>Reset Password</h1>
            <input type="password" name='new_password' placeholder='Enter New Password' required />
            <input type="password" name='confirm_password' placeholder='Confirm New Password' required />
            <!-- Display error message if it exists -->
            {% if error_message %}
            <div class="alert">{{ error_message }}</div>
            {% endif %}
            <button type="submit">Reset Password</button>
    </form>
</body>

</html>
