{% extends 'layout.html' %}
{% block body %}
  
<div class="service">
    <!-- <h1>Some of our Clients</h1> -->

    <section class="clients-sec">
      <h2>Some of our Clients</h2>
      <div class="clients-images">
        <div class="clientservices">
          <div class="clients-card">
            <img src="../static/images/earthverse.png" alt="Avatar" />
            <div class="container">
              <h5>Earthverse</h5>
              <p>Earthverse is the place where you can Discover the treasures of our rarest planet and own a piece of nature's wonderland with Earthverse's exquisite collection of NFTs .</p>
              <a href="https://earthverse.tech/"> <button>know more</button></a>
            </div>
          </div>
          <div class="clients-card">
            <img src="../static/images/insightindia.png" alt="Avatar" />
            <div class="container">
              <h5>InsightIndia</h5>
              <p>InsightIndia is a leading source of news and analysis on India.They provide readers with a comprehensive and nuanced view of the country’s politics, economy, society, and culture.</p>
              <a href="https://insightindia.org/"> <button>know more</button></a>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

  {% endblock body  %}