<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Internship Data</title>
</head>
<body>
    <form method="POST" action="/updateData/{{m.domain}}/{{m.day}}">
        <label for="domain">Domain:</label>
        <select name="domain" id="domain" ><option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="C">C</option>
            <option value="C++">Cpp</option>
            <option value="blockchain">Blockchain</option>
            <option value="ai">AIandChatGpt</option>
            <option value="webd">WebD</option></select><br>

        <label for="week">Week:</label>
        <input value="{{m.week}}" type="number" id="week" name="week" required><br>

        <label for="day">Day:</label>
        <input value="{{m.day}}" type="number" id="day" name="day" required><br>

        <!-- <input type="text" name="content" id=""> -->
       
        <input value="{{m.content}}" type="text" id="c" name = "content">

        <!-- Use the "content" input multiple times to allow adding multiple pages -->
       

        <button type="submit">Add/Update Data</button>
    </form>
    <a href="/admindashboard">Return To Dashboard</a>
</body>
</html>